/* Pesmica modifikovana css-om zamisljena tako da :
	- kada se predje misem izmedju naslova i slike kuce izadju reci pesme
	- kada se predje preko kucice pojavljuje se "Zmaj" koji "oduva" hiperlinkovu kucicu na stranu o Jovanu Jovanovicu Zmaju

*/
body{
	font-family: 'Indie flower', cursive;
	margin: 50px 400px 50px 400px;
}
#strana{
	width:400px;
	height: 650px;

}
/* modifikovan section kako bi uokvirio reci pesme*/
#sadrzaj{
	color: transparent;
    background-color: #876648;
    width: 350px;
    height: 520px;
    border: 15px solid #876648;
    outline: 5px solid #876648;
    outline-offset: 5px;
    margin: 10px 20px 10px 20px ;
    padding: 10px 10px 10px 20px;
    font-size: 25px;
 }

/*modifikovan tekst pesme*/
.tekst{
	font-size: 20px !important;
	text-align: center;
	font-style: italic;
}

/*tekst pesme se pojavljuje prelaskom misem izmedju naslova i slike kuce */
h1{
	color: #ffffff;
	text-shadow: #9B7754;
}

p:hover{
	color: #ffffff;
	transition-duration: 1s;
}

/* pojavljivanje slike zmaja kada se misom predje preko slike kuce*/
#zmaj{
	opacity: 0;
	float: right;
}

.slikahover #kuca:hover + #zmaj{
	opacity: 1;
}